<div class="author-box">
  <h2 class="author-title">About
    {{post.author.name}}</h2>
  <div class="author-info">
    <figure class="author-avatar"><img src="{{post.author.avatar}}" alt="Beth"></figure>
    <div class="author-description">
      <p>{{post.author.description}}</p>
      <a href="{{post.author.link}}">More From
        {{post.author.name}}</a>
    </div>
  </div>
</div>
