{% extends "teases/tease.twig" %}

{% block content %}
    <article class="post-full education">
        <header class="post-header">
            <h3 class="post-box-title"><a href="{{post.link}}">{{post.title}}</a></h3>
            <ul class="post-box-meta">
                <li>
                    <i class="fa fa-calendar"></i> {{post.get_field('_education_start_date')}} - {{post.get_field('_education_end_date')}}
                </li>
                <li>
                    <i class="fa fa-building"></i> {{post.get_field('_education_institution')}}
                </li>
                <li>
                    <i class="fa fa-map-marker"></i> {{post.get_field('_education_location')}}
                </li>
                <li>
                    <i class="fa fa-certificate"></i> {{post.get_field('_education_degree')}}, {{post.get_field('_education_concentration')}}
                </li>
            </ul>
        </header>
    </article>
{% endblock %}